body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#section1 {
    background-image: url('https://images.unsplash.com/photo-1436891620584-47fd0e565afb?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image path */
}

#section2 {
    background-image: url('https://plus.unsplash.com/premium_photo-1669312732419-a55959a56e6c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2t5JTIwd2l0aCUyMHN0YXJzfGVufDB8fDB8fHww'); /* Replace with your image path */
}

.content-section {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.content-section p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
}
